@mixin tr{
    width: 100%;
    td{
        &:nth-child(1){
            textarea{
                width: 100%;
                height: 60px;
                box-sizing: border-box;
            }
        }
    }
}

@mixin table{
    border-collapse: separate;
    border-spacing: 8px 20px;
    box-sizing: border-box;
    tr{@include tr;}
}

.container__various{
    table{
        @include table;
    }
}