$brand:#29957D;
.container-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @import 'input/container.scss';
    @import 'navbar.scss';
}
