.container{
    display: flex;
    padding: 40px 0px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    gap: 40px;
    h1{
        font-size: 32px;
        text-align: center;
    }

    table{
        width: 400px;
        border-spacing: 0px;
        .user{
            td{
                border-bottom: 1px solid;
                text-align: center;
                span{
                    font-weight: bold;
                    font-size: 24px;
                }

            }
        }
        tr{
            box-sizing: border-box;
            td{
                box-sizing: border-box;
            }
            &:nth-child(n+2){
                td{
                    font-size: 18px;
                    &:first-child{
                        opacity: .6;
                    }

                    &:nth-child(2){
                        font-weight: bold;
                        text-align: right;
                    }
                    padding: 15px 15px;
                }
            }
        }
    }
}



