.container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 110px;
        padding-top: 50px;
        padding-bottom: 50px;
        

    @import 'completion/container.scss';
    @import 'charged/container.scss';
    @import 'cost/container.scss';
    @import 'profit/container.scss';
    .container__download{
        button{
            background-color: $brand;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            &:hover{
                border: 1px solid $brand;
                background-color: transparent;
                color: $brand;
            }
        }
    }
}