.container__section-earn {
    width: 380px;

    .container__content-earn {
        display: flex;
        align-items: center;
        justify-content: center;
        &:nth-child(3) {
            margin-top: 24px;
            margin-bottom: 20px;
        }

        label {
            width: 120px;
        }

        div {
            display: flex;
            justify-content: center;
            width: 240px;

            input {
                &:focus {
                    border: none;
                    outline: transparent;
                    background-color: transparent;
                    border-bottom: 1px solid #000;
                }

                border: none;
                border-bottom: 1px solid #000;
                height: 23px;
                width: 60px;
                padding-left: 5px;
                font-size: 18px;
            }
        }
    }
}