.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 40px;
  padding-top: 40px;
}
.container h1 {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 665px) {
  .container h1 {
    font-size: 24px;
  }
}
.container h1 span img {
  width: 40px;
}
@media screen and (max-width: 665px) {
  .container h1 span img {
    width: 30px;
  }
}
.container form.container__form-data .container__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container form.container__form-data .container__form .container__all-inputs {
  width: 470px;
  padding-right: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.container form.container__form-data .container__form .container__all-inputs table {
  width: 100%;
}
.container form.container__form-data .container__form .container__all-inputs .container__driller-user table {
  border-collapse: separate;
  border-spacing: 8px 20px;
  box-sizing: border-box;
}
.container form.container__form-data .container__form .container__all-inputs .container__driller-user table tr select, .container form.container__form-data .container__form .container__all-inputs .container__driller-user table tr input, .container form.container__form-data .container__form .container__all-inputs .container__driller-user table tr textarea {
  width: 100%;
  padding-left: 5px;
  box-sizing: border-box;
}
.container form.container__form-data .container__form .container__all-inputs .container__driller-user table tr select, .container form.container__form-data .container__form .container__all-inputs .container__driller-user table tr input {
  height: 30px;
}
.container form.container__form-data .container__form .container__all-inputs .container__driller-user table tr:nth-child(4) td:nth-child(1) textarea {
  height: 60px;
}
.container form.container__form-data .container__form .container__all-inputs .container__daily-consumption table {
  border-collapse: separate;
  border-spacing: 8px 20px;
  box-sizing: border-box;
}
.container form.container__form-data .container__form .container__all-inputs .container__daily-consumption table tr {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.container form.container__form-data .container__form .container__all-inputs .container__daily-consumption table tr td input {
  height: 31px;
}
.container form.container__form-data .container__form .container__all-inputs .container__stock table {
  border-collapse: separate;
  border-spacing: 8px 20px;
  box-sizing: border-box;
}
.container form.container__form-data .container__form .container__all-inputs .container__stock table tr {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.container form.container__form-data .container__form .container__all-inputs .container__stock table tr td input {
  height: 31px;
}
.container form.container__form-data .container__form .container__all-inputs .container__various table {
  border-collapse: separate;
  border-spacing: 8px 20px;
  box-sizing: border-box;
}
.container form.container__form-data .container__form .container__all-inputs .container__various table tr {
  width: 100%;
}
.container form.container__form-data .container__form .container__all-inputs .container__various table tr td:nth-child(1) textarea {
  width: 100%;
  height: 120px;
  box-sizing: border-box;
}
.container form.container__form-data .container__form .container__all-inputs .container__termination table {
  border-collapse: separate;
  border-spacing: 8px 20px;
  box-sizing: border-box;
}
.container form.container__form-data .container__form .container__all-inputs .container__termination table tr select, .container form.container__form-data .container__form .container__all-inputs .container__termination table tr input, .container form.container__form-data .container__form .container__all-inputs .container__termination table tr textarea {
  width: 100%;
  padding-left: 5px;
  box-sizing: border-box;
}
.container form.container__form-data .container__form .container__all-inputs .container__termination table tr select, .container form.container__form-data .container__form .container__all-inputs .container__termination table tr input {
  height: 30px;
}
.container form.container__form-data .container__form .container__all-inputs .container__termination table tr:nth-child(4) td:nth-child(1) textarea {
  height: 60px;
}
.container form.container__form-data .container__form .container__all-inputs button.container__btn-submit {
  background-color: #0088B6;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px;
}
.container form.container__form-data .container__form .container__all-inputs button.container__btn-submit:hover {
  border: 1px solid #0088B6;
  color: #0088B6;
  background-color: transparent;
}

/*# sourceMappingURL=style.css.map */
