.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container form.container__form-data .container__form {
  width: 100%;
  border: 1px solid #ff0000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container form.container__form-data .container__form .container__all-inputs {
  width: 470px;
  padding-right: 0px;
  box-sizing: border-box;
}
.container form.container__form-data .container__form .container__all-inputs .container__driller-user table {
  border-collapse: separate;
  border-spacing: 8px 20px;
  box-sizing: border-box;
}
.container form.container__form-data .container__form .container__all-inputs .container__driller-user table tr select, .container form.container__form-data .container__form .container__all-inputs .container__driller-user table tr input, .container form.container__form-data .container__form .container__all-inputs .container__driller-user table tr textarea {
  width: 100%;
  padding-left: 5px;
  box-sizing: border-box;
}
.container form.container__form-data .container__form .container__all-inputs .container__driller-user table tr select, .container form.container__form-data .container__form .container__all-inputs .container__driller-user table tr input {
  height: 30px;
}
.container form.container__form-data .container__form .container__all-inputs .container__driller-user table tr:nth-child(4) td:nth-child(1) textarea {
  height: 60px;
}
.container form.container__form-data .container__form .container__all-inputs .container__daily-consumption table {
  border-collapse: separate;
  border-spacing: 8px 20px;
  box-sizing: border-box;
}
.container form.container__form-data .container__form .container__all-inputs .container__daily-consumption table tr {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.container form.container__form-data .container__form .container__all-inputs .container__daily-consumption table tr td input {
  height: 31px;
}
.container form.container__form-data .container__form .container__all-inputs .container__stock table {
  border-collapse: separate;
  border-spacing: 8px 20px;
  box-sizing: border-box;
}
.container form.container__form-data .container__form .container__all-inputs .container__stock table tr {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.container form.container__form-data .container__form .container__all-inputs .container__stock table tr td input {
  height: 31px;
}
.container form.container__form-data .container__form .container__all-inputs .container__various table {
  border-collapse: separate;
  border-spacing: 8px 20px;
  box-sizing: border-box;
}
.container form.container__form-data .container__form .container__all-inputs .container__various table tr {
  width: 100%;
}
.container form.container__form-data .container__form .container__all-inputs .container__various table tr td:nth-child(1) textarea {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
