&:nth-child(n+2){
                
    td{
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 15px 15px;
        box-sizing: border-box;
        &:first-child{
            border-left: 1px solid #000;
            span{
                &:nth-child(1){
                    font-weight: 700;
                }
            }
        }

        &:nth-child(2){
            span{
                &:nth-child(1){
                    font-weight: 700;
                }
            }
        }

        &:last-child{
            border-right: 1px solid #000;
            font-weight: 500;
            u{
                &:hover{
                    color: $brand;
                }
                cursor: pointer;
            }
        }
    }
    
}