.container__btn-submit{
    width: 100%;
    background-color: $btn;
    border: none;
    color: white;
    cursor: pointer;
    padding: 8px;
    &:hover{
        background-color: transparent;
        color: $btn;
        border: 1px solid $btn;
    }
}