.container__navbar {
    display: flex;
    margin-top: 53px;
    margin-bottom: 60px;
    height: 50px;

    div {
        cursor: pointer;
        font-weight: 600;
        display: flex;
        align-items: center;
        height: 100%;
        padding-right: 23px;
        padding-left: 23px;
        box-sizing: border-box;
    }

    .container__navbar-input {
        background-color: #fff;
        border: 2px solid #000;
        
    }
    
    .container__navbar-information {
        background-color: black;
        color: #fff;

    }
}