&:nth-child(n+1){
    cursor: pointer;
    td{
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 15px 15px;
        box-sizing: border-box;
        &:first-child{
            border-left: 1px solid #000;
            font-weight: 600;
        }

        &:nth-child(2){
            font-weight: 600;
        }

        &:last-child{
            border-right: 1px solid #000;
            font-weight: 600;
            u{
                &:hover{
                    color: $brand;
                }
                cursor: pointer;
            }
        }
    }
    
}