.container__section2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    @import 'search.scss';
    @import 'data.scss';

}