.daily-consumption{
    table{
        tr{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            width: 100%;
            td{
                // &:nth-child(2),&:nth-child(5){
                //     padding: 0px 10px !important;
                // }
                
                width: 150px;
                input{
                    width: 100%;
                }
            }
            td{
                padding-right: 20px;
            }
        }
    }
}