.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 40px;
    padding-top: 40px;
    @import 'h1.scss';
    @import 'form/form.scss';
}